
.qrcodeWrapper {
  margin: 32px auto;
  min-width: 400px;
  width: auto;
  max-width: 100%;
}

.qrcodeContentInput {
  display: block;
  margin: 32px auto;
  min-width: 400px;
  width: 100%;
  max-width: 100%;
}

.qrCodeSvgWrapper{
  width: 320px;
  max-width: 100%;
  display: block;

  font-size: 0;

  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 100%), linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #ccc 100%);
}
.qrCodeSvgWrapper svg{
  max-width: 100%;
  height: auto;
}

.downloadButton:first-of-type {
  margin-left: 0;
}
.downloadButton:last-of-type {
  margin-right: 0;
}
